In [7]:
import pandas as pd
import geopandas as gpd

nta_demo = pd.read_csv("nta_demo.csv")
filename = "nta_gdf.geojson"
file = open(filename)
nta_gdf = gpd.read_file(file)

nta_demo.head()    
nta_gdf.head()

,BoroCode,BoroName,CountyFIPS,NTACode,NTAName,Shape_Leng,Shape_Area,geometry
0,4,Queens,81,QN08,St. Albans,45401.316803,7.741275e+07,"MULTIPOLYGON (((-73.75205 40.70523, -73.75174 ..."
1,2,Bronx,5,BX28,Van Cortlandt Village,21945.719299,2.566612e+07,"MULTIPOLYGON (((-73.88705 40.88435, -73.88705 ..."
2,4,Queens,81,QN55,South Ozone Park,36708.169305,8.246139e+07,"MULTIPOLYGON (((-73.80577 40.68293, -73.80552 ..."
3,3,Brooklyn,47,BK50,Canarsie,43703.609666,8.208968e+07,"MULTIPOLYGON (((-73.88834 40.64671, -73.88835 ..."
4,2,Bronx,5,BX41,Mount Hope,18937.247819,1.471671e+07,"MULTIPOLYGON (((-73.89561 40.85457, -73.89662 ..."

In [8]:
nta_full = nta_gdf.merge(nta_demo, left_on=['NTACode'], right_on=['GeoID'])

In [17]:
nta_full.head()
type(nta_full)
cb_jan_head

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,BBA33D73DECE976F,docked_bike,2021-02-26 16:38:54,2021-02-26 16:44:37,E 84 St & Park Ave,7243.04,E 78 St & 2 Ave,7057.07,40.778626,-73.957720,40.772797,-73.955778,casual
1,B63D7AFF9AC5B6D4,docked_bike,2021-02-17 11:09:11,2021-02-17 11:26:47,Macon St & Nostrand Ave,4214.03,Bond St & Fulton St,4479.06,40.680983,-73.950047,40.689622,-73.983043,member
2,52B829195C469D99,docked_bike,2021-02-26 18:33:29,2021-02-26 19:05:41,Macon St & Nostrand Ave,4214.03,Lefferts Pl & Franklin Ave,4222.02,40.680983,-73.950047,40.680342,-73.955769,casual
3,19C84ECA2B468476,docked_bike,2021-02-26 12:48:35,2021-02-26 13:07:24,Macon St & Nostrand Ave,4214.03,Bond St & Fulton St,4479.06,40.680983,-73.950047,40.689622,-73.983043,member
4,C0DDB771E70D9DF5,docked_bike,2021-02-25 17:23:22,2021-02-25 17:28:20,Madison Ave & E 26 St,6131.12,W 37 St & 5 Ave,6398.06,40.742685,-73.986713,40.750380,-73.983390,member

In [61]:
cb_jan = pd.read_csv("data/202102-citibike-tripdata.csv")
print(cb_jan.shape)
cb_jan_head = cb_jan.head(100)

/var/folders/c7/xg1r56q12bb9ls1bbs2m6csh0000gn/T/ipykernel_35418/1052644296.py:1: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  cb_jan = pd.read_csv("data/202102-citibike-tripdata.csv")

(649983, 13)

In [62]:
# get NTA of start and end ride station
from shapely.geometry import Point
cb_jan_head.crs = "EPSG:4326"  # WGS 84, commonly used for lat/long coordinates
geometry = [Point(lon, lat) for lon, lat in zip(cb_jan_head['start_lat'], cb_jan_head['start_lng'])]
cb_jan_head_gdf = gpd.GeoDataFrame(cb_jan_head, geometry=geometry, crs='EPSG:4326')



# joined_gdf = gpd.sjoin(cb_jan_head_gdf, nta_full, predicate='intersects', how='inner')
joined_gdf = cb_jan_head_gdf.sjoin(nta_full, how="inner", predicate='within')

In [68]:
# cb_jan_head_gdf.tail()
cb_jan_head_gdf.plot()

ImportError: The matplotlib package is required for plotting in geopandas. You can install it using 'conda install -c conda-forge matplotlib' or 'pip install matplotlib'.