In [1]:
from sodapy import Socrata
import numpy as np
import pandas as pd
import geopandas as gpd

nta_tab_areas_endpt = 'q2z5-ai38'
nta_tab_areas = pd.read_csv('https://data.cityofnewyork.us/api/views/' + nta_tab_areas_endpt + '/rows.csv?accessType=DOWNLOAD')
nta_tab_areas

,the_geom,BoroCode,BoroName,CountyFIPS,NTACode,NTAName,Shape_Leng,Shape_Area
0,MULTIPOLYGON (((-73.75205066516907 40.70522802...,4,Queens,81,QN08,St. Albans,45401.316803,7.741275e+07
1,MULTIPOLYGON (((-73.8870514253612 40.884349575...,2,Bronx,5,BX28,Van Cortlandt Village,21945.719299,2.566612e+07
2,MULTIPOLYGON (((-73.80576840191371 40.68293239...,4,Queens,81,QN55,South Ozone Park,36708.169305,8.246139e+07
3,MULTIPOLYGON (((-73.88833929256353 40.64671022...,3,Brooklyn,47,BK50,Canarsie,43703.609666,8.208968e+07
4,MULTIPOLYGON (((-73.8956088328007 40.854570369...,2,Bronx,5,BX41,Mount Hope,18937.247819,1.471671e+07
...,...,...,...,...,...,...,...,...
190,MULTIPOLYGON (((-73.88828531356056 40.64672241...,3,Brooklyn,47,BK93,Starrett City,17414.782656,1.159895e+07
191,MULTIPOLYGON (((-73.95814292441024 40.72440428...,3,Brooklyn,47,BK73,North Side-South Side,28099.984508,2.885436e+07
192,MULTIPOLYGON (((-73.98237340505953 40.70554335...,1,Manhattan,61,MN28,Lower East Side,26879.113421,2.330069e+07
193,MULTIPOLYGON (((-73.98017161103701 40.66115465...,3,Brooklyn,47,BK40,Windsor Terrace,19033.671554,1.404167e+07
194,MULTIPOLYGON (((-73.91513331918196 40.58626938...,3,Brooklyn,47,BK99,park-cemetery-etc-Brooklyn,385416.939727,2.253711e+08

In [2]:
gpd.options.use_pygeos = False  # Ensure compatibility for geometries conversion
nta_geometries = gpd.GeoSeries.from_wkt(nta_tab_areas['the_geom'])

# Create a GeoDataFrame
nta_gdf = gpd.GeoDataFrame(nta_tab_areas, geometry=nta_geometries)

# Drop the old 'the_geom' column as it's no longer needed
nta_gdf = nta_gdf.drop(columns=['the_geom'])

# Set the CRS (Coordinate Reference System) for the GeoDataFrame
# Assuming the geometry is in WGS 84 / Lat Long as it's the most common, EPSG:4326
nta_gdf.crs = "EPSG:4326"

nta_gdf.head()

,BoroCode,BoroName,CountyFIPS,NTACode,NTAName,Shape_Leng,Shape_Area,geometry
0,4,Queens,81,QN08,St. Albans,45401.316803,7.741275e+07,"MULTIPOLYGON (((-73.75205 40.70523, -73.75174 ..."
1,2,Bronx,5,BX28,Van Cortlandt Village,21945.719299,2.566612e+07,"MULTIPOLYGON (((-73.88705 40.88435, -73.88705 ..."
2,4,Queens,81,QN55,South Ozone Park,36708.169305,8.246139e+07,"MULTIPOLYGON (((-73.80577 40.68293, -73.80552 ..."
3,3,Brooklyn,47,BK50,Canarsie,43703.609666,8.208968e+07,"MULTIPOLYGON (((-73.88834 40.64671, -73.88835 ..."
4,2,Bronx,5,BX41,Mount Hope,18937.247819,1.471671e+07,"MULTIPOLYGON (((-73.89561 40.85457, -73.89662 ..."

In [5]:
nta_gdf.shape
nta_gdf.to_file('nta_gdf.geojson', driver='GeoJSON')