In [1]:
import pandas as pd
import numpy as np
import requests
import zipfile
import io
import os

endpt = 'https://data.cityofnewyork.us/download/8cwr-7pqn/application%2Fzip'

if not os.path.exists('data/nta'):
    print('dir not exist, creating...')
    os.mkdir('data/nta')
    
if len(os.listdir('data/nta')) < 2:
    print('data not exist, downloading...')
    res = requests.get(endpt, stream=True)
    z = zipfile.ZipFile(io.BytesIO(res.content))
    z.extractall('data/nta')
    
for file in os.listdir('data/nta'):
    if file.endswith('.xlsx'):
        nta = pd.read_excel('data/nta/' + file)
    break

data not exist, downloading...

In [3]:
nta_t = nta.transpose().reset_index()
nta_t.columns = nta_t.iloc[2]
nta_t

2,GeoID,BK27,BK31,BK75,BK29,BK28,BK88,BK19,BK09,BK81,...,BX09,BX29,BX36,BX28,BX37,BX63,BX08,BX59,BX44,BX62
0,GeoType,NTA2010,NTA2010,NTA2010,NTA2010,NTA2010,NTA2010,NTA2010,NTA2010,NTA2010,...,NTA2010,NTA2010,NTA2010,NTA2010,NTA2010,NTA2010,NTA2010,NTA2010,NTA2010,NTA2010
1,GeogName,Bath Beach,Bay Ridge,Bedford,Bensonhurst East,Bensonhurst West,Borough Park,Brighton Beach,Brooklyn Heights-Cobble Hill,Brownsville,...,Soundview-Castle Hill-Clason Point-Harding Park,Spuyten Duyvil-Kingsbridge,University Heights-Morris Heights,Van Cortlandt Village,Van Nest-Morris Park-Westchester Square,West Concourse,West Farms-Bronx River,Westchester-Unionport,Williamsbridge-Olinville,Woodlawn-Wakefield
2,GeoID,BK27,BK31,BK75,BK29,BK28,BK88,BK19,BK09,BK81,...,BX09,BX29,BX36,BX28,BX37,BX63,BX08,BX59,BX44,BX62
3,Borough,Brooklyn,Brooklyn,Brooklyn,Brooklyn,Brooklyn,Brooklyn,Brooklyn,Brooklyn,Brooklyn,...,The Bronx,The Bronx,The Bronx,The Bronx,The Bronx,The Bronx,The Bronx,The Bronx,The Bronx,The Bronx
4,Pop_1E,33163,79134,75318,64267,91646,105913,34157,24140,60124,...,56552,31508,55575,51157,29509,37395,35752,28437,65043,44064
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
479,Asn2plE,152,93,56,232,428,155,62,109,8,...,25,44,32,0,26,0,0,67,0,11
480,Asn2plM,103.0,61.0,52.0,175.0,202.0,100.0,77.0,77.0,14.0,...,39.0,56.0,54.0,NaN,20.0,NaN,NaN,97.0,NaN,17.0
481,Asn2plC,41.4,40.2,56.7,45.9,28.7,39.2,75.7,43.1,106.4,...,94.8,77.1,102.6,NaN,47.5,NaN,NaN,88.4,NaN,93.9
482,Asn2plP,1.3,0.8,2.4,0.9,1.1,1.1,1.2,4.6,0.8,...,2.2,2.6,3.2,NaN,0.8,NaN,NaN,1.9,NaN,0.6
483,Asn2plZ,0.8,0.5,2.2,0.7,0.5,0.7,1.5,3.2,1.4,...,3.4,3.3,5.0,NaN,0.6,NaN,NaN,2.7,NaN,0.9

In [10]:
nta_t.iloc[:, 1]

DP04 SELECTED HOUSING CHARACTERISTICS     Community Districts and Neighborhood Tabulatio...
Unnamed: 1                                                                              NaN
Unnamed: 2                                                                              NaN
Unnamed: 3                                                                              NaN
Unnamed: 4                                                                              NaN
                                                                ...
Unnamed: 776                                                                            NaN
Unnamed: 777                                                                            NaN
Unnamed: 778                                                                            NaN
Unnamed: 779                                                                            NaN
Unnamed: 780                                                                            NaN
Name: nan, Length: 781, dtype: object