In [4]:
import pandas as pd

import data_pull as dp
import geopandas as gpd

# building_df: pd.DataFrame = dp.get_building_data()
# citibike_df: pd.DataFrame = dp.get_citibike_data()
nta_demo_df: pd.DataFrame = dp.get_nta_demographics()
nta_geodf: gpd.GeoDataFrame = dp.get_nta_geog() # we have our geopandas multipolygon in the column called "geometry"

/Users/alexfriedman/Downloads/lrFinalProject/venv/lib/python3.10/site-packages/openpyxl/reader/workbook.py:118: UserWarning: Print area cannot be set to Defined name: #N/A.
  warn(f"Print area cannot be set to Defined name: {defn.value}.")

                                            the_geom  BoroCode   BoroName  \
0  MULTIPOLYGON (((-73.9524609285142 40.798242494...         1  Manhattan
1  MULTIPOLYGON (((-74.00439976203518 40.76267135...         1  Manhattan
2  MULTIPOLYGON (((-73.98915463816797 40.71670864...         1  Manhattan
3  MULTIPOLYGON (((-73.9271851477837 40.797349896...         1  Manhattan
4  MULTIPOLYGON (((-73.94103496861398 40.79254666...         1  Manhattan

   CountyFIPS NTA2020                NTAName   NTAAbbrev  NTAType CDTA2020  \
0          61  MN6491           Central Park     CntrlPk        9     MN64
1          61  MN0401   Chelsea-Hudson Yards  Chls_HdsYd        0     MN04
2          61  MN0301  Chinatown-Two Bridges      Chntwn        0     MN03
3          61  MN1102    East Harlem (North)   EstHrlm_N        0     MN11
4          61  MN1101    East Harlem (South)   EstHrlm_S        0     MN11

                                           CDTAName    Shape_Leng  \
0             MN64 Central Park (JIA 64 Equivalent)  32721.097429
1  MN04 Chelsea-Hell's Kitchen (CD 4 Approximation)  40095.235570
2  MN03 Lower East Side-Chinatown (CD 3 Equivalent)  16464.371337
3               MN11 East Harlem (CD 11 Equivalent)  28710.999462
4               MN11 East Harlem (CD 11 Equivalent)  18682.264948

     Shape_Area
0  3.831238e+07
1  2.967175e+07
2  1.154263e+07
3  2.610451e+07
4  1.665394e+07

## Notes:

I think we probably don't want to use the NTA column in the building because it uses the NTA name. Let's just use the lat/long to determine the NTA.

In [3]:
nta_geodf['NTA2020']

0      MN6491
1      MN0401
2      MN0301
3      MN1102
4      MN1101
        ...
257    SI0203
258    SI0102
259    SI0305
260    SI0104
261    SI0105
Name: NTA2020, Length: 262, dtype: object

In [5]:
nta_demo_df

,GeoType,GeogName,GeoID,Borough,Pop_1E,Pop_1M,Pop_1C,Pop_1P,Pop_1Z,MaleE,...,GRPI50plE,GRPI50plM,GRPI50plC,GRPI50plP,GRPI50plZ,GRPINtCE,GRPINtCM,GRPINtCC,GRPINtCP,GRPINtCZ
7,NTA2010,Brooklyn Heights-Cobble Hill,BK09,Brooklyn,24140,915.0,2.3,100.0,NaN,12002,...,1130,239.0,12.8,18.9,3.8,351,154.0,26.6,NaN,NaN
43,NTA2010,Sheepshead Bay-Gerritsen Beach-Manhattan Beach,BK17,Brooklyn,66293,1721.0,1.6,100.0,NaN,31519,...,3206,387.0,7.3,28.1,3.2,812,206.0,15.4,NaN,NaN
6,NTA2010,Brighton Beach,BK19,Brooklyn,34157,1331.0,2.4,100.0,NaN,16234,...,3445,356.0,6.3,37.2,3.5,450,141.0,19.0,NaN,NaN
42,NTA2010,Seagate-Coney Island,BK21,Brooklyn,29677,1206.0,2.5,100.0,NaN,13277,...,1933,306.0,9.6,21.4,3.3,255,118.0,28.2,NaN,NaN
48,NTA2010,West Brighton,BK23,Brooklyn,15754,665.0,2.6,100.0,NaN,6943,...,1524,247.0,9.9,33.7,4.9,200,117.0,35.6,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,NTA2010,Stapleton-Rosebank,SI37,Staten Island,26247,1046.0,2.4,100.0,NaN,12912,...,1677,238.0,8.6,36.4,4.5,244,109.0,27.1,NaN,NaN
146,NTA2010,New Dorp-Midland Beach,SI45,Staten Island,21358,1151.0,3.3,100.0,NaN,10367,...,748,212.0,17.2,37.7,9.1,116,77.0,40.3,NaN,NaN
139,NTA2010,Arden Heights,SI48,Staten Island,26482,905.0,2.1,100.0,NaN,13082,...,259,126.0,29.5,22.9,10.1,55,58.0,64.1,NaN,NaN
142,NTA2010,Great Kills,SI54,Staten Island,43602,1198.0,1.7,100.0,NaN,21261,...,622,185.0,18.1,24.9,6.4,252,103.0,24.8,NaN,NaN
150,NTA2010,park-cemetery-etc-Staten Island,SI99,Staten Island,0,NaN,NaN,NaN,NaN,0,...,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN